*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Imbue', serif;
}

/* text-shadow:0.5px 0.5px 0.8px rgb(91, 88, 88);
    font-family: 'Imbue', serif; */

/* back ground */
.header{
    background-image: url(../img/cripped\ cafe.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 785px;
    margin: 0;
    padding: 0;
    
}
.title{
    font-size: 30px;
    text-shadow:0.5px 0.5px 0.8px rgb(91, 88, 88);
    color: #f97272;
    /* margin: 15px; */
    padding-left: 15px;


}
#open{
    font-size: 3.5em;
    cursor: pointer;
    margin: 15px;
    color: #fb9191;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 9;
}
#open:hover{
    color: rgba(255, 255, 255, .5);
}

.overlay{
    background:#FECBCB;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    display: flex;
    transition: 1200ms ease-in-out;
    overflow: hidden;  
    z-index: 999;
}

.overlay ul{
    margin: auto;
    color: #fff;
    list-style: none;
}

.overlay ul li a {
    color:red;
    font-size: 2.5em;
    text-decoration: none;
    transition: 300ms;
}

.overlay ul li a:hover{
  color: rgba(255, 255, 255, .5);
}

#close{
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: 1.5s ease;
}

#close:hover{
    color: black;   
}

.logo{
    /* border: solid 2px black; */
    object-fit: cover;
    width: 100%;
    position: relative;
    height: 500px;
}

.logo img{
    width: auto;
    height: 280px;
    position: absolute;
    right: 20px;
    bottom: 5px;

}

/* Section2 Slider */

.slider {
    position: relative;
    overflow: hidden;
    height: 1000px;
    max-height: 100%;
    margin: auto;
    margin-top: 100px;
  }
  
  .slider img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transform: translate(-50%,0);
 
  }
  
  .slider img.active {
    opacity: 1;
  }


  /* Section3 */
  .content3{
    width: 100%;
    height: auto;
    /* border: solid 3px purple; */
    text-align: center;
    margin-top: 100px;
    padding-bottom: 130px;
  }

  .content3 h1{
    font-size: 60px;
  }

  .content3 p{
    font-size: 40px;
    width: 80%;
    margin: auto;
  }


  /* Section4 slider 2 */

.section-2 h3{
    font-size:50px ;
    text-align: center;
  }

.section-2{
    /* border:2px solid red; */
    background: white;
    padding:50px;
    position: relative;
}

#slider-wrapper{
    /* border:2px solid red; */
    position: relative;
    overflow:hidden;
    margin:20px auto 0 auto;
    border-radius:4px;
}

a.control_prev{
    position:absolute;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    z-index:999;
    display:block;
    /* padding:4% 3%; */
    padding-left: 10px;
    width:auto;
    height:auto;
    /* background:#2a2a2a; */
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity:0.8;
    cursor: pointer;

}

a.control_next{
    position:absolute;
    top:50%;
    transform: translate(0,-50%);
    right:0;
    z-index:999;
    display:block;
    /* padding:4% 3%; */
    padding-right: 10px;
    width:auto;
    height:auto;
    /* background:#2a2a2a; */
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity:0.8;
    cursor: pointer;
}

.section-2 i:hover{
    background: rgba(0, 0, 0, 0.2);
    padding:8px;
}

.section-2 i{

    font-size: 1.5em;
    color:gainsboro;
    /* background: #e0ad81; */
}

.sec2-wrapper{
    /* border:2px dashed blue; */
 
    position:relative;
    list-style: none;
}

.sec2{
    width:300px;
    padding:0;
    height: 400px;
    float: left;
    padding-left: 50px;
}

.sec2-image-wrapper{
    width:100%;
    height:200px;
    overflow:hidden;
}

.sec2-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.sec-name{
    font-weight: 800;
}

.sec2 p {
 margin-bottom:1em
}

.sec2-button{
    background:#E6CBB3;
    padding:5px 15px;
    border-radius:50px;
    display:inline-block;
    text-decoration: none;
    color:white;
}
.sec2-button:hover{
    background: #e0ad81;
}
/* .content4 h1{
    font-size: 60px;
    text-align: center;
 

}
    */
/* .content4 {
    border: 2px solid #f97272;
    padding-top: 150px;
    position: relative;
    padding: auto;
}

#content4-wrapper{
    border:4px solid black;
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

.slider2-wrapper{
    border: 2px solid palegreen;
    position: relative;
    list-style: none;
}


.con4{
   
    width: 300px;
    padding: 0px;
    height: 400px;
    float: left;
    

}

.con4-img-wrapper{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
}


.con4-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.con4-name{
    font-weight: 250px;
    font-size: 25px;
    text-align: center;
}

.con4-button{
    background-color: #fd9191;
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    display: flex; justify-content: center;
}

.con4-button:hover{
    background: #ff5c5c;
}


a.control_next{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
    z-index: 99;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 50px;
    padding-right: 10px;
}

a.control_prev{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    z-index: 99;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 50px;
    padding-left: 10px;
} */





@media screen and  (max-width:768px){
    body{
        background-image: url(../img/cafe\ logo.jpg);
        background-size: cover;
        background-position: center;
    }

    .logo img{
        width: 180px;
        object-fit: fill;
        bottom: 50px;
        right: 30px;
        /* object-position: center -100px; */
        
    }

}

@media screen and (max-width:565px){
    .overlay ul li a {
        color:red;
        font-size: 1.5em;
        text-decoration: none;
        transition: 300ms;
    }
      
}

@media screen and (max-width:486px){
    .title{
        font-size: 20px;
        margin: 15px;
    }

    .logo{
        object-fit: cover;
        width: 100%;
        position: relative;
        height: 600px;
    }

    .logo img{
        width: 150px;
        object-fit: fill;
        bottom: 70px;
        right: 30px;
        
    }
    
}

@media screen and (max-width:410px){
    
    .logo{
        object-fit: cover;
        width: 100%;
        position: relative;
        height: 600px;
    }

    .logo img{
        width: 150px;
        object-fit: fill;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

}

@media screen and (max-width:330px){
    .overlay ul li a {
        color:red;
        font-size: 20px;
        text-decoration: none;
        transition: 300ms;
    }

}